name: Tests

on:
  push:
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  format:
    uses: ./.github/workflows/test-format.yml

  lint:
    uses: ./.github/workflows/test-lint.yml

  can_build:
    uses: ./.github/workflows/test-can-build.yml
